// Темная тема 

$v-background-color: #444d50;
$v-focus-color: #07a9ca;
$v-focus-style: 0 0 3px 2px $v-focus-color;
$v-bevel-depth: 40%;
$v-gradient: v-linear 12%;
$v-border-radius: 2px;
$v-font-family: Roboto, sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-bevel: inset 0 1px 2px v-tint, inset 0 0 1px (v-tint 0.1);
$v-shadow: 0 0 0 3px rgba(0,0,0,0.32), 0 1px 0 3px rgba(255,255,255,0.14);
$v-textfield-bevel: inset 0 2px 2px v-shade;
$v-textfield-shadow: $v-shadow;
$v-unit-size: 40px;
$v-overlay-shadow: 0 0 0 3px (v-shade 8), 0 5px 10px (v-shade 4);
$v-component-group-spacing: 6px;

@import "../valo/valo.scss";
@include font(RussoOne,
'../../../../mytheme/fonts/RussoOne-Regular');
@mixin mytheme {
    @include valo; 

    // Insert your own theme rules here

    // Метка кол-ва посещений
    .visitors-counter-label {
        font-size: 48px;
    }
    .logo-label
    {
        font-family: RussoOne,Calibri,Arial,sans-serif;
        font-size: 48px;
        font-style: italic;
    }
    .logo-label:hover
        {
        color: red;
    }
    .celcium
    {
        //font-family: RussoOne,Calibri;
        font-size: 32px;
    }
    .celcium:after
        {
        content:" \00b0 C"; 
    }

    * {
        font-family: sans-serif;
    }
    .currency
    {
        //font-family: RussoOne,Calibri;
        font-size: 32px;
    }
    .currency-delta-negative
    {
        color: red;
    }
    .currency-delta-positive
    {
        color: green;
    }
}
